.list-component {

    h3 {
        background-image: -webkit-linear-gradient(45deg, #FFDA15, #FFA115);
        font-weight: 800;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    h2 {
        font-weight: 800;
    }

    h1 {
        color: white;
        font-weight: 800;
    }

    img {
        padding-left: 15px;
        padding-bottom: 5px;
    }



    .mobile-fixed-button {
        font-weight: 800;
        font-size: 42px;
        width: 700px;
        height: 140px;
        border: none;
        background: linear-gradient(90deg, #15FFAB 0%, #15F1FF 100%);
        border-radius: 100px;
        z-index: 1;
    }

    .name-container {
        padding: 12px !important;
        padding-right: 16px !important;
        padding-left: 16px !important;
        font-size: 16px;
    }

    .recieved-container {
        font-weight: 500 !important;
        padding: 12px !important;
        padding-right: 16px !important;
        padding-left: 16px !important;
        color: #747182 !important;
    }


    .quantity-container {
        font-weight: 600;
        font-size: 14pt;
        padding: 12px !important;
        padding-right: 16px !important;
        padding-left: 16px !important;
    }

    .developer-list {
        position: relative;
        position: fixed;
        padding-top: 40px;
        padding-bottom: 90px;
        border-radius: 30px;
        background-color: white;
        width: 100%;
        height: 70%;
    }

    .view-skills {
        background-color: white;
        border: 1px solid #A49FAF;
        width: 100%;
        height: 50px;
        font-weight: 800;
        border-radius: 50px;
    }

    .skills-container ul {
        height: 0;
        left: 0;
        opacity: 0;
        transition: all .5s ease;
        top: 35px;
        width: 100%;
    }
    
    .rotate-arrow {
        transition: all .4s ease;
        transform: rotate(180deg);
        transform-origin: center;
    }

    ul {
        list-style-type: none;
        margin-bottom: 0px;
        height: 100%;
        overflow: auto;
    }
    
    li {
        list-style-type: none;
    }

    .list-margin {
        margin-bottom: 10px;
    }

    .skills-container.active li ul {
        height: 190px;
        font-size: 25px;
        font-weight: 600;
        opacity: 1;
        transform: translateY(0);
        list-style-type: none;
    }
    
    .skills-container.active ul a {
        color: #000;
        display: block;
    }

    .list-container {
        padding: 20px;
    }

    .padding-info {
        padding-top: 5px;
    }

    .main-button {
        font-weight: 800;
        font-size: 24px;
        width: 100%;
        height: 70px;
        border: none;
        background: linear-gradient(90deg, #15FFAB 0%, #15F1FF 100%);
        border-radius: 50px;
    }

    .list-button {
        background-color: white;
        border: 1px solid #A49FAF;
        width: 100%;
        height: 50px;
        font-weight: 800;
        border-radius: 80px;
        font-size: 25px;
    }

    .quantity-developers {
        padding-top: 25px;
    }

    .scroll-container {
        border-radius: 30px;
        background-color: white;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 10px 10px rgb(19, 18, 24);
        border-radius: 10px;
        border: solid 10px transparent;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 10px 10px rgb(19, 18, 24);
        border: solid 2px transparent;
    }

    @media (max-width: 990px) {
        font-size: 42px;
        margin-top: 10%;

        img {
            width: 55px;
        }

        input {
            width: 100%;
            margin-top: 65%;
        }

        h2 {
            font-size: 50px;
        }

        h3 {
            font-size: 45px;
        }

        .developer-list {
            height: 80%;
            padding-bottom: 300px !important;
            padding-top: 100px !important;
        }

        .quantity-container {
            font-size: 30px;
        }

        .name-container {
            font-size: 30px;
        }

        .skills-added {
            font-size: 45px;
        }

        .button-mobile-fixed {
            position: fixed;
            right: 15%;
        }
    }

    @media (min-width: 430px) {
        .developer-list {
            height: 77% !important;
        }
    } 
}