.footer-component {
    margin-top: 30%;

    .alias {
        color: white;
        font-size: 42px;
    }

    .share {
        color: rgb(184, 184, 186);
    }

    img {
        width: 70% !important;
    }
}